* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.container1 {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    position: sticky;
    background-color: white;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 1;
}

.navcontents {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;

}


.container1imageleft img {
    width: 200px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    position: relative;

}

a:hover:after {
    right: 0px;
}

.navright {
    display: flex;
    align-items: center;
}

.navright>*{
    margin: 0px 12px 0px 12px;
}

#navcontent2 {
    margin-left: 12px;
}

button {
    margin: 10px;
}

button#navBtn1 {
    height: 40px;
    width: 120px;
    border: 2px solid #0000ff;
    border-radius: 5px;
    cursor: cell;
}

button#navBtn2 {
    height: 40px;
    width: 120px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: all-scroll;
    box-shadow: 4px 0px 10px gray;
}

.navcontent:after {
    content: "";
    position: absolute;
    text-decoration: 2px solid;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: blue;
    height: 2px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* ..................................container2........................... */

.container2 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
}

.container2inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 button {
    height: 25px;
    width: 130px;
    background-color: #00af82;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: progress;

}

.container2 h2 {
    font-size: 16px;
    font-weight: 600px;
}


/* .....................................container 3...................................,.,.,.,*/

.container3 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(https://i0.wp.com/www.qatouch.com/wp-content/uploads/2023/03/qa-hero.jpg?fit=2160%2C1200&ssl=1);
    background-position: left top;
}

.container3inner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.containerleft {
    float: right;
    margin-top: 40px;
}


.frame {
    float: right;
    width: 100%;
}

.frame>iframe{
    width: 100%;
    height: 450px;}

.container3 h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    text-transform: inherit;
    margin-bottom: 10px;
}

strong {
    color: white;
    font-size: 48px;
}

.container3 p {

    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
}

.containerleft li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

button.getstartedbtn {
    height: 50px;
    width: 180px;
    border-radius: 6px;
    border: none;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;

}

button.getstartedbtn:hover {
    cursor: pointer;
    height: 4px;
    transition-property: left right;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

/* ....................container4 ........................................... */
.container4 {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 15, 15);
    display: flex;
    justify-content: space-evenly;
}


.container4 .container4backround {
    padding: 20px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container4content h2 {
    margin: 0;
    width: 60%;
    font-size: 36px;
    color: white;
}

/* ............................container 5 strt................................... */
.container5{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container5photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}


.container5photo .container5image img {
    height: 90px;
    width: 160px;
    padding: 50px;
}

/* ..............................container 6 start................................ */

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 200px 0px;

}

.container6content {
    width: 30%;
    display: flex;
    align-items:start;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.container6content #content6 h2 {

    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;

}




/*.....................container7 and 5card..........................................................................*/
.container7 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container7inner{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}
/*.......container7 in whole child........................................*/
.container7inner>* {
    height: 250px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px gray;
}

/*.........................this is card top content h2,h5 tags.............*/
.container7inner h2 {
    font-family: montserrat;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    color: #231f20;
}

.container7inner h5 {
    font-family: montserrat;
    font-size: 15px;
    color: #0000007a;
    margin: 0;
}

/*...................this is all cards innerflexcontent  class........*/
.cardinnerflex {
    display: flex;
    gap: 20px;
}



/*..........this is cardss...............................................*/

.card4,
.card5 {
    height: 210px;
    width: 370px;
    margin: 23px 0px 10px 0px;


}

.card6 {
    width: 550px;
    height: 300px;
    margin-top: 30px;
}

/*................................this is cards img...................................*/
.cardinnerflex img {
    width: 52px;
    height: 85px;
    margin-top: 10px;
    border-radius: 5px
}

/* .......................container 8................................ */


.container8 {
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.container8inner {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container8 .container8left {
    width: 90%;
}

.image8right {
    width: 50%;
}

.container8left .web >h2{
 font-size: 36px;
}

.image8right img {
    width: 100%;
    height: 100%;
}
.container8left .content8 button {
    margin: 0;
    background-color:#04b98f;
    height: 50px;
    width: 200px;
    left: 0;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
   
}
.container8left .content8 .btn:hover,
.container8left .content8 .btn:focus {
  box-shadow: 0px 10px 10px 0px rgba(116, 114, 114, 0.486) ;
  z-index: 1;
  transform: translateY(-0.25em);
}

.container8left .content8 {
    color: #00000075;
}

.container8 .content8 blockquote{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.container8 .content8 blockquote:before{
    content: '';
    width: 5px;
    height: 30px;
    background-color:blue;
}

.mapimage {
    width: 90%;
}

.mapimage >img{
    width: 90%;
    height: auto;
}

/* ...................................container9................................ */

.container9 {
    width: 100%;
    display: flex;
    margin: 0;
    gap: 53px;
    justify-content: center;
    align-items: center;
}

.container9right>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 60px;
    /* margin-bottom: 330px; */
}
.number{
    display: flex;
    gap: 100px;
    margin-left: 60px;
}





/*..............................this is container10........................................*/

.container10 {
    height: 650px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #5ebe9b;
    margin-top: 30px;
}
.container10>* {
    height: 450px;
    width: 350px;
   
    padding: 20px;
}

.container10 .leftcard h2 {
    font-family: montserrat;
    font-size: 48px;
    line-height: 70px;
    margin: 0;
}
.container10 .leftcard span{
    color: white;
}
.container10 p {
    font-family: montserrat;
    font-size: 18px;
     color:white; 
    line-height: 30px;
}

.container10 .card p{
    color: #00000087;
 }
 .container10 .card{
    background-color: white;
 }

.container10 .leftcard #leftcardbtn  {
  
    height: 55px;
    width: 250px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.container10 .leftcard #leftcardbtn:hover{
    transform: translateY(-0.20em);
    box-shadow: 10px 10px 10px 0px rgba(128, 128, 128, 0.548);
}
.middlecard .img1 img {
    width: 200px;
    height: 80px;
    margin-left: 55px;
}
.rightcard .img2 img{
    height: 86px;
    width: 300px;
}

/* ..................features.navigation....................... */
.Features{
    display: none;
    position: absolute;
    top: 102px;
    left: 0; 
    right: 0;
    z-index: 1;
}


.featureschild{
    padding: 105px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.featureschild>*{
    padding-top: 20px ;
}

#navfeatures:hover+.Features{
    display: flex;
}


.Features a {
    text-decoration: none;
}

.anchorc {
    width: 300px;
    height: 500px;

}

.sub_span {
    color: blue;
    padding-bottom: 5px;
    font-weight: 600;
    position: relative;
    top: -30px;
    margin-left: 10px;
}

.sub_span:hover {
    border-bottom: 2px solid black;
}

.Features h3 {
    color: aqua;

}

.Features img {
    width: 40px;
    height: 40px;


}

.para {
    width: 250px;
    height: 80px;
    font-weight: 200;
    font-size: small;
    margin-left: 60px;
    margin-top: -20px;
}
/* 
............integration........... */

.Integration{
    display: none;
    position: absolute;
    top: 102px;
    left: 0; right: 0;
    z-index: 99999;
}

#navresources:hover+.Integratio{
    display:flex;


} 

.Integrationchild {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: white;

}

.Integration a {
    text-decoration: none;
}

.anchorc {
    width: 300px;
    height: 300px;

}

.sub_span {
    color: blue;
    padding-bottom: 5px;
    font-weight: 600;
    position: relative;
    top: -30px;
    margin-left: 10px;
}
.sub_span:hover {
    border-bottom: 2px solid black;
}

.Integration h3 {
    color: aqua;

}

.para {
    width: 250px;
    height: 80px;
    font-weight: 200;
    font-size: small;
    margin-left: 60px;
    margin-top: -20px;
} 

.Integration img {
    width: 40px;
    height: 40px;
}


/* .........................footer............................. */


.footer {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    background-color: rgba(22, 22, 22, 0.953);
}

.footerinner {
    height: 80%;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer11 {
    width: 400px;

}

.footer11 p {
    font-size: 14px;
    width: 320px;
}


.footer2 p {
    font-size: 14px;
}

.footer2 p:nth-child(2) {
    font-weight: bold;
}

.footer22 {
    display: flex;
}

.footer22 li {
    list-style-type: none;
    font-size: 14px;
    padding: 9px 9px 9px 0px;

}

.footer3 {
    width: 400px;
}

.footer3 p {
    color: rgb(190, 185, 185);
}

.footer3 li a {

    text-decoration: none;
    display: flex;
    padding: 9px 9px 9px 0px;

}

.footer3 li a p {
    margin-left: 20px;
    font-size: 12px;

}

.footer3 li {
    list-style-type: none;
}

#email {
    border: none;
}

input[type=email]:focus {
    outline: 1px solid blue;
}

input[type=email] {
    width: 200px;
    padding: 12px 20px;
    display: inline-block;
    outline: 1px solid white;
    background: transparent;
    border-radius: 4px;
    margin-bottom: 20px;

}

input[type=submit] {
    color: white;
    border: none;
    border-radius: 6px;
    background-color: aquamarine;
    padding: 10px 10px;
}

input[type=submit]:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    cursor: pointer;

}



.footerlast {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
}

.footerlast a {
    color: white;
}

.footericon {
    display: flex;
    padding: 20px;
    gap: 5px;
}

.footericon i {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 50%;
}

.footerlast p {
    text-align: center;
}




/* ....................................mediaquerry..................................... */

@media screen and (max-width:760px){

/* ...............nav..................... */

    .container1 .navcontents {
        display: grid;
        align-items:center;
        justify-content:space-evenly;
        position: sticky;
    }

    .navright{
        display: none;
    }

/* .......................container2..................... */

    .container2 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

/* ..................container3........................... */

    .container3inner {
            width: 80%;
            display: grid;
            justify-content: center;
            align-items: center;
    }
/* ..................container6...................... */

    .container6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container6content {
        width: 90%;
        text-align: center;
        padding: 50px 0px;
    }
    
    /* ................container7.................. */

    .container7inner>* {
        height: 300px;
        width: 500px;
        padding: 20px;
    }

    /* ...................container8................... */

    .container8inner {
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .mapimage {
        width: 100%;
    }
    .image8right {
        width: 100%;
    }

   /* ....................container9................... */

   .container9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 53px;
    justify-content: center;
    align-items: center;
}


.number{
    display: flex;
    gap: 100px;
    margin-left: 10px;
}

/* .......................container10..................... */

.container10 {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #5ebe9b;
    padding: 40px 0px 40px 0px;
  }

  /* ....................footer........................ */
  .footer1 {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    background-color: rgba(22, 22, 22, 0.953);
}
.footerlast {
    display: grid;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
    gap: 10px;
}
}
